.banner {
  color: $green;
  text-align: center;
  height: 80vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;}

  .banner h1 {
  display: block;
  font-size: 514%;
  font-weight: bold;
  margin: 7%;
  }
  .banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
  }

  .banner h2 {
    display: block;
    font-size: 300%;
    color: white;
    margin: 15%;
    font-weight: lighter;
   }
