<div class="navbar-wagon">
  <!-- Logo -->


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm text-center">

    <!-- Search form -->
    <p>Julie P</p>

    <!-- Text link -->



    <!-- Text link -->

    <!-- Notification link-->


    <!-- Profile picture and dropdown -->


    <!-- Button (call-to-action) -->


  <!-- Dropdown appearing on mobile only -->
  </div>
</div>
