


    <div class="banner" style="background: linear-gradient(-225deg, rgba(-148,81,151,1) -10%, rgba(91,36,61,0.6) 50%), url('https://static.pexels.com/photos/300001/pexels-photo-300001.jpeg');">
      <div class="banner-content">
        <h1>Julie P.</h1>
        <h2>#Full Stack Web Developer #Web Project Manager</h2>
        <a class="btn btn-warning btn-lg" href="https://www.linkedin.com/in/julie-pesnel-0672767b/">CV</a>
        <a class="btn btn-success btn-lg" href="/team">CONTACT</a>

      </div>
    </div>
    <div class="features text-center">
          <h2>Passionnée par le web</h2>


          <h2>Passionnée par l'univers "StartUp"</h2>


          <h2>Réalisez vos rêves!</h2>


          <h2>Share and love</h2>


    </div>


